// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
.background {
  background-image: url("https://blog.uyuhz.fun/upload/2019/9/background-3bd903a32671451b97cdee96fe68c938.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .background {
    background-image: url("https://blog.uyuhz.fun/upload/2019/9/background-3bd903a32671451b97cdee96fe68c938.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}

.halo-comment {
  transition: all .3s ease-in-out;
  border: 2px dashed #ededed;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 0;

  .comment-placeholder {
    border: unset;
    transition: unset;
  }
}

.journal-item {
  padding: 1rem;
  border-bottom: 1px solid #eeeeee;

  .journal-comment {
    display: none;
    margin-top: 10px;
  }

  .journal-item-wrapper {
    display: flex;

    img {
      width: 50px;
      border-radius: 50px;
    }

    .journal-comment-btn img {
      width: 17px;
      vertical-align: middle;
    }

    .journal-item-content-wrapper span {
      vertical-align: middle;
    }

    .journal-item-avatar {
      margin-right: 15px;
    }

    .journal-item-date {
      color: #a9a9b3;
      font-size: 13px;
    }

    .journal-item-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}